* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    display: center;
    align-items: center;
    justify-content: center;
    
}

.container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

button {
    height: 60px;
    display: flex;
    background-color: #c1111f;
    justify-content: center;
    align-items: center;
    color: #fdf0d5;
    border: none;
    margin: auto;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container p{
    font-weight: 900;
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;
    color: #003049;
}

button:hover {
    background-color: #790007;
}

footer {
    padding: 3px;

    color: #fff;
    text-align: center;
}


.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Estilos para a área de código PIX */
.pix-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.payment p {
    color: #001f40;
}

#pixCode {
    width: 60%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Impede redimensionamento da área de texto */
    font-family: monospace; /* Fonte monoespaçada para melhorar legibilidade do código */
}

#copyButton {
    background-color: #203ea3;
    width: 30%;
    height: 40px;
    color: #fff;
    border: none;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#copyButton:hover {
    background-color: #001f40;
}
